/**
 *  GENERIC COMPONENTS
 */

// Alert
.alert {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    top: 3.43rem; // Corresponds to height of navbar
    align-items: center;
}

.alert-padding {
    width: 100%;
    height: 4.2rem; // Height of alert
}

.error-alert-icon,
.success-alert-icon {
    font-size: 2em;
    margin: 0 0.5em 0 0;
}

.alert-strongtext {
    font-size: 1.15em;
}

// TableHeaderElement
.the-inner-div {
    display: flex;
    align-items: self-end;
    width: fit-content;
    word-wrap: break-word;
    margin: 0 auto;

    .sort-button {
        height: 1.8em;
        display: flex;
        align-items: center;
    }
}

.the-span {
    flex: 1 1 auto;
    white-space: normal;
}
